.9pt {  font-size: 9pt; font-style: normal; color: #FD795B}
a:link {  color: #FF634D}
a:visited {  color: #41EDE0}
.9pt {  font-family: "宋体"}
a:hover {  font-style: italic; color: #C289F5; text-decoration: none; font-family: "宋体"}
a:link {  text-decoration: none; font-family: "宋体"}
a:visited {  text-decoration: none; font-family: "宋体"}
.pt9 {  font-size: 10pt; color:#ffffff; text-decoration: none; font-family: "宋体"}
