.common {  font-size: 16px; font-style: normal; color: #FDEDD0}
a:visited {  color: #41EDE0}
.common {  font-family: "ו"}
a:hover {  font-style: italic; color: #C289F5; text-decoration: none; font-family: "ו"}
a:visited {  text-decoration: none; font-family: "ו"}
a:link {  color:# FD795B}
