body {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 960px;
    height: 630px;
    margin: auto;
}



.grid {
    width: 100%;
    max-width: 100%;
    margin-top: 20px;
    font-family: Cambria, Helvetica, sans-serif;
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
    border-spacing: 2px;
    border-color: grey;
}


.pagebreak {
    font-family: Cambria, Helvetica, sans-serif;
}

.grid-striped > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.gridbutton {
    background-color: #777;
    display: inline;
    padding: .2em .6em .3em;
    text-decoration: none;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}



    .gridbutton:hover {
        cursor: pointer;
    }

.icon_btn {
    text-decoration: none;
}


.grid tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}


    .grid tr th {
        vertical-align: bottom;
        border-bottom: 2px solid #ddd;
      
        padding: 8px;
        line-height: 1.42857143;
        text-align: left;
        font-weight: bold;
    }

    .grid tr td {
        padding: 8px;
          
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #ddd;
    }


.clear {
    display: block;
    clear: both;
}

.pagetitle {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}



.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}

.col-md-12 {
    width: 100%;
}

.col-md-11 {
    width: 91.66666667%;
}

.col-md-10 {
    width: 83.33333333%;
}

.col-md-9 {
    width: 75%;
}

.col-md-8 {
    width: 66.66666667%;
}

.col-md-7 {
    width: 58.33333333%;
}

.col-md-6 {
    width: 50%;
}

.col-md-5 {
    width: 41.66666667%;
}

.col-md-4 {
    width: 33.33333333%;
}

.col-md-3 {
    width: 25%;
}

.col-md-2 {
    width: 16.66666667%;
}

.col-md-1 {
    width: 8.33333333%;
}
