.pt {  font-size: 11pt; font-style: normal; color:#FF634D}
a:link {  color: #FF634D}
a:visited {  color: #41EDE0}
.pt {  font-family: "宋体"backgroundcolor:#FF634D}
a:hover {  font-style: italic; color: #C289F5; text-decoration: none; font-family: "宋体"}
a:link {  text-decoration: none; font-family: "宋体"}
a:visited {  text-decoration: none; font-family: "宋体"}
